<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head.ejs', {title: "Order details"}) %>
</head>
<body>
    <%- include('partials/_header.ejs') %>
    <main class="flex justify-center">
        <div>

        </div>
        <div>
            
        </div>
        <div>
            <%- include('partials/_options_dropdown_shipper.ejs') %>
        </div>
    </main>
    <%- include('partials/_footer.ejs') %>
</body>
</html>