<!DOCTYpE html>
<html lang="en">
<head>
    <%- include('partials/_head.ejs', {title: "Order details"}) %>
</head>
<body>
    <%- include('partials/_header.ejs') %>
    <main class="flex flex-col justify-center items-center content-center">
                                <!-- Title of the page -->
        <h1 class="text-3xl font-bold font-sans text-center my-4 p-2">
            Order detail
        </h1>
                                <!-- Title of the page -->
        <section class="border-2 border-solid border-gray-200 rounded-xl w-1/2 mt-2 mb-4 p-1 font-sans">
                            <!-- First div is a brief introduction of the order -->
            <div class="flex flex-col m-4 p-4">
                <h2 class="text-2xl font-bold italic text-center m-1 p-1">
                    Order
                </h2>
                <p class="text-base m-1 p-1">Order ID: </p>
                <p class="m-1 p-1">Date: </p>
                <p class="m-1 p-1">Total price: </p>
            </div>
                            <!-- First div is a brief introduction of the order -->
                                <!-- Second div contains customer's info -->
            <div class="flex flex-col m-4 p-4">
                <h2 class="text-2xl font-bold italic text-center m-1 p-1">
                    Shipping address
                </h2>
                <p class="m-1 p-1">Customer's name: </p>
                <p class="m-1 p-1">Address: </p>
            </div>
                                <!-- Second div contains customer's info -->
                    <!-- Third div contains item's data (images, names, quantities, ...) -->
            <div class="flex flex-col m-4 p-4">
                <h2 class="text-2xl font-bold italic text-center m-1 p-1">
                    Item
                </h2>
                <ul class="m-1">
                    <li class="border border-solid border-gray-300 my-2 p-1 rounded-xl">
                        <p class="my-1 py-1">Item name: </p>
                        <img class="flex justify-center w-1/2 h-1/2 my-1 py-1 mx-auto" src="images/furniture.jpg" alt="">
                        <p class="my-1 py-1">Price: </p>
                        <p class="my-1 py-1">Quantity: </p>
                    </li>
                </ul>
            </div>
                    <!-- Third div contains item's data (images, names, quantities, ...) -->
                    <!-- Fourth div is the dropdown status button for shipper to interact -->
            <div class="flex flex-row justify-center m-4 p-4">
                <%- include('partials/_options_dropdown_shipper.ejs') %>
            </div>
                    <!-- Fourth div is the dropdown status button for shipper to interact -->
        </section>
    </main>
    <%- include('partials/_footer.ejs') %>
</body>
</html>