                            <!-- This is a hero section -->
<section class="shadow-lg flex flex-row-reverse justify-around">
                            <!-- Image of hero section -->
    <div class="flex flex-col justify-center m-2 p-1 w-2/5 h-screen rounded-md bg-gradient-to-br from-violet-400 via-violet-200 to-violet-100">
        <img class='my-10' src="./../../svg/phone-ecommerce.png" alt="phone-ecommerce">
    </div>
                            <!-- Image of hero section -->
                    <!-- This div contains text + button + typebox -->
    <div class="flex flex-col justify-center items-left w-3/5">
                <!-- This div contains 2 divs; each div contains h1 and p  -->
        <div class="flex flex-col">
            <div class="flex flex-row mx-7 my-2 py-1">
                <h1 class="font-bold text-2xl font-serif">
                    Think less, shop more!
                </h1>
            </div>
            <div class="flex flex-row mx-7 my-2 py-1">
                <p class="text-sm">
                    Start your shopping journey right here, right now
                </p>
            </div>
        </div>
                <!-- This div contains 2 divs; each div contains h1 and p  -->
                        <!-- This div contains button "SHOP NOW" -->
        <div class="flex flex-row mx-7 my-5 p-1">
            <button type="button" 
            class="text-white cursor-pointer rounded-md p-1 bg-red-600 bg-gradient-to-tr hover:from-red-600 hover:via-crimson-400 hover:to-red-200">
                SHOP NOW
            </button>
        </div>
                        <!-- This div contains button "SHOP NOW" -->
                    <!-- This div contains typebox for entering email -->
        <div class="flex flex-row ">
            <input class="w-4/5 text-sm border-solid border-2 border-black rounded mx-7 my-3 p-1" type="email" placeholder="Enter your email for subscription">
            <span><img class="w-9 h-full flex justify-center cursor-pointer hover:scale-125" src="./../../svg/arrow-right-circle-fill.svg" alt="arrow-right-circle-fill"></span>
        </div>
                    <!-- This div contains typebox for entering email -->
    </div>
                    <!-- This div contains text + button + typebox -->
</section>
                            <!-- This is a hero section -->