<section id="navigation-bar" class="w-full bg-slate-500">
    <nav class="w-full flex justify-between px-12 py-4">
        <div class="logo inline-block float-left tracking-wider uppercase font-bold">I'm Blue</div>
        <ul class="inline-flex gap-4 items-center">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#"><img class="w-7" src="./../../svg/account.svg" alt="Account"></a></li>
            <li><a href="#"><img class="w-7" src="./../../svg/shopping_cart.svg" alt="Shopping cart"></a></li>
        </ul>
    </nav>
</section>