<section id="navigation-bar">
    <nav>
        <div class="logo">I'm Blue</div>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#"><img src="./../../public/svg/account-circle-line.png" alt="Account"></a></li>
            <li><a href="#"><img src="./../../public/svg/shopping_cart.svg" alt="Shopping cart"></a></li>
        </ul>
    </nav>
</section>