<section id="navigation-bar">
    <nav>
        <div class="logo">I'm Blue</div>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#"><img src="./../../svg/account-circle-line.png" alt="account"></a></li>
            <li><a href="#"><img src="./../../svg/shopping-cart.svg" alt="Shopping-cart"></a></li>
        </ul>
    </nav>
</section>