                    <!-- Top seller items section -->
<section class="flex flex-col justify-center p-2 m-2 rounded shadow-lg mt-10">
                <!-- Div contains h1: Top seller items...  -->
    <div class="flex flex-row justify-center my-2 mx-1">
        <h1 class="font-sans font-bold text-3xl italic shadow-sm">
            Top seller items of the month
        </h1>
    </div>
                <!-- Div contains h1: Top seller items...  -->
                            <!-- Line break -->
    <hr>
                            <!-- Line break -->
                    <!-- Div contains product cards -->
    <div class="flex flex-row justify-around shadow-sm">
            <%- include('_card.ejs') %>

            <%- include('_card.ejs') %>

            <%- include('_card.ejs') %>

            <%- include('_card.ejs') %>
    </div>
                    <!-- Div contains product cards -->
</section>
                    <!-- Top seller items section -->