<section class="flex">
    <div class="flex flex-row justify-center">
        <h1>
            Top seller items of the month
        </h1>
    </div>
    <div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
</section>