<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <!-- <%- include("_navigation_bar"); %> -->
        <!-- <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#"><img src="./../../svg/account-circle-line.png" alt="Account"></a></li>
            <li><a href="#"><img src="./../../svg/shopping_cart.svg" alt="Shopping cart"></a></li>
        </ul> -->
    </header>
    <main>
                <!-- Hero section here -->
        <%- include('_hero_section.ejs') %>
                <!-- Hero section here -->
        <!-- Top seller items section here -->
        <%- include('_top_seller_items.ejs') %>
        <!-- <section class="flex flex-col justify-center p-2 m-2 border-solid border-2 border-black rounded">
            <div class="flex flex-row justify-center my-2 mx-1">
                <h1 class="font-sans font-bold text-3xl italic">
                    Top seller items of the month
                </h1>
            </div>
            <hr>
            <div class="flex flex-row justify-around shadow">
                <div class="m-2 p-2 flex flex-col">
                    // include _product_card.ejs here
                </div>
                <div class="m-2 p-2 flex flex-col">
                    // include _product_card.ejs here
                </div>
                <div class="m-2 p-2 flex flex-col">
                    // include _product_card.ejs here
                </div>
                <div class="m-2 p-2 flex flex-col">
                    // include _product_card.ejs here
                </div>
            </div>
        </section> -->

    </main>
    <footer>

    </footer>
</body>
</html>