<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/_head", {title: "Vendor page"}) %>
</head>
<body>
    <%- include('partials/_header.ejs') %>
    <main>
        
    </main>
    <%- include('partials/_footer.ejs') %>
</body>
</html>