<tbody>
    <tr>
        <td class="py-2 px-4 border-b border-gray-300 text-center"><%= order.id %></td>
        <td class="py-2 px-4 border-b border-gray-300 text-center"><%= order.userFullName %></td>
        <td class="py-2 px-4 border-b border-gray-300 text-center"><%= order.userAddress %></td>
        <td class="py-2 px-4 border-b border-gray-300 text-center">$39.97</td>
        <td class="py-2 px-4 border-b border-gray-300 text-center">
            <%- include('_options_dropdown_shipper.ejs') %>
        </td>
    </tr>
</tbody>