<section id="category-bar" class="w-full border-solid-black border-gray-300">
    <nav class="flex py-4 px-12 w-full justify-between">
        <ul class="inline-flex gap-4 items-center">
            <li><a href="">Clothes</a></li>
            <li><a href="">Electronic devices</a></li>
            <li><a href="">Funitures</a></li>
            <li><a href="">Instruments</a></li>
        </ul>
        <div class="flex gap-4">
            <form class="inline-flex" action="/search" method="get">
                <input class="px-4 py-[0.125rem] w-96 border border-solid border-gray-500 rounded-l-2xl focus:outline-none focus:border-black" type="text" name="search-bar" placeholder="Search">
                <button class="px-4 py-[0.125rem] border border-solid border-gray-500 rounded-r-2xl" type="submit"><img class="w-5" src="./../../svg/search.svg" alt="Search"></button>
            </form>
            <a href="#"><img class="w-7" src="/svg/shopping_cart.svg" alt="Shopping cart"></a>
        </div>
    </nav>
</section>