<div class="flex flex-col w-2/5 justify-center m-2 p-2">
    <label class="text-center text-lg font-bold text-gray-800 my-3 p-1" for="avatar">Profile Picture</label>
    <img src="<%= user.userPicture %>" alt="">
    <input type="file" class="filepond" name="profilePicture" accept="image/png, image/jpeg, image/gif"/>
</div>