<div class="flex flex-col w-2/5 justify-center m-2 p-2">
    <label class="text-center text-lg font-bold text-gray-800 my-3 p-1" for="avatar">Avatar</label>
    <input type="file" class="filepond" name="filepond" accept="image/png, image/jpeg, image/gif"/>
</div>