<% let shopName = 'Alizada' %>
<footer id="footer">
    <div class="flex flex-col items-center gap-y-2 bg-emerald-500">
        <nav class="mt-1">
            <ul class="flex gap-x-4">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Copyright</a></li>
                <li><a href="./pages/contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <!-- <div class="flex gap-x-4 mb-1">
            <p>Palm Springs, California(CA)</p>
            <p>760-880-4616</p>
            <p>bookology@gmail.com</p>
        </div> -->
    </div>
    <div class="bg-slate-900 text-center">
        <p class="text-white">copyright &copy;2023 <%- shopName %>. designed by <span class="text-gray-500 uppercase">Hoang Thai Phuc</span></p>
    </div>
</footer>