<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2023A -->
<!-- Assessment: Assignment 2 -->
<!-- Author: Hoang Thai Phuc, Nguyen Hoang Minh, Tran Nguyen Anh Minh, Tran Luu Quang Tung, Dao Bao Duy -->
<!-- ID: s3978081, s3977773, s3979367, s3978481, s3978826 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified -->

                            <!-- This is a hero section -->
<section class="flex flex-row-reverse justify-around">
                            <!-- Image of hero section -->
    <div class="flex flex-col justify-center m-2 p-1 w-2/5 h-screen rounded-md bg-gradient-to-br from-violet-400 via-violet-200 to-violet-100">
        <img class='my-10' src="/images/phone-ecommerce.png" alt="phone-ecommerce">
    </div>
                            <!-- Image of hero section -->
                    <!-- This div contains text + button + typebox -->
    <div class="flex flex-col justify-center items-left w-3/5">
                <!-- This div contains 2 divs; each div contains h1 and p  -->
        <div class="flex flex-col">
            <div class="flex flex-row mx-7 my-2 p-1">
                <h1 class="font-bold text-5xl font-serif">
                    Think less, shop more!
                </h1>
            </div>
            <div class="flex flex-row mx-7 my-2 p-1">
                <p class="text-base">
                    Start your shopping journey right here, right now
                </p>
            </div>
        </div>
                <!-- This div contains 2 divs; each div contains h1 and p  -->
                        <!-- This div contains button "SHOP NOW" -->
        <div class="flex flex-row mx-7 my-5 p-1">
            <button type="button" 
            class="text-white cursor-pointer rounded-md my-3 p-2 bg-violet-400">
                SHOP NOW
            </button>
        </div>
                        <!-- This div contains button "SHOP NOW" -->
                    <!-- This div contains typebox for entering email -->
        <div class="flex flex-row ">
            <input class="w-4/6 text-sm border-solid border border-gray-300 rounded ml-7 my-3 py-2 px-4" type="email" placeholder="Enter your email for subscription">
            <span class="flex-grow bg-violet-400 my-3 rounded-md cursor-pointer mx-2 p-2"><p class="flex flex-row justify-center text-white text-sm">Find out more</p></span>
        </div>
                    <!-- This div contains typebox for entering email -->
    </div>
                    <!-- This div contains text + button + typebox -->
</section>
                            <!-- This is a hero section -->