<section id="navigation-bar" class="w-full">
    <nav class="w-full flex justify-between px-4 md:px-12 py-4">
        <!-- Logo -->
        <div class="flex gap-2">
            <img class="w-8" src="/svg/lazada.svg" alt="Alizada logo">
            <div class="logo center-y float-left tracking-wider uppercase font-bold">Alizada</div>
        </div>

        <!-- Navigation list -->
        <ul class="hamburger-menu whitespace-nowrap offcanvas-r [&_li]:w-full [&_li]:text-center [&_a]:py-4 [&_a]:px-12 [&_a]:block [&_a]:w-h-full [&_a:hover]:bg-violet-200 md:gap-8 md:static md:flex-row md:[&_a]:p-0 md:[&_a:hover]:bg-transparent md:[&_li:hover]:text-violet-400 transition-300">
            <li><a href="#">About Us</a></li>
            <li><a href="/users/customer">Shop</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/users/vendor/addproduct">Vendor add product test</a></li>
            <!-- This section needs to have code that separates My Account and Login -->
            <% if (user) { %>
                <% if (userType == "Customer") { %>
                    <!-- Customer My Account Link -->
                    <li class="-order-1 md:order-1 p-4 md:p-0"><a href="/users/customer/profile"><img class="w-10 md:w-8 cursor-pointer float-right" src="/svg/account.svg" alt="Account"></a></li>
                <% } else if (userType == "Vendor") { %>
                    <!-- Vendor My Account Link -->
                    <li class="-order-1 md:order-1 p-4 md:p-0"><a href="/users/vendor/profile"><img class="w-10 md:w-8 cursor-pointer float-right" src="/svg/account.svg" alt="Account"></a></li>
                <% } else if (userType == "Shipper") { %>
                    <!-- Vendor My Account Link -->
                    <li class="-order-1 md:order-1 p-4 md:p-0"><a href="/users/shipper/profile"><img class="w-10 md:w-8 cursor-pointer float-right" src="/svg/account.svg" alt="Account"></a></li>
                <% } %>
            <% } else { %>
                <!-- Login Link -->
                <li><a href="/auth/login"><img class="w-10 md:w-8 cursor-pointer float-right" src="/svg/login-box-line.svg" alt="Login"></a></li>
            <% } %>
            <!-- This section needs to have code that separates My Account and Login -->
        </ul>

        <!-- Hamburger menu -->
        <div class="center-y md:hidden">
			<button class="navbar-burger center-y text-violet-600 p-1">
				<svg class="block h-5 w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<title>Mobile menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>
    </nav>
</section>