<section id="navigation-bar" class="w-full">
    <nav class="w-full flex justify-between px-12 py-4">
        <div class="logo inline-block float-left tracking-wider uppercase font-bold">Alizada</div>
        <ul class="inline-flex gap-8 items-center">
            <li><a href="#">About Us</a></li>
            <li><a href="/users/customer">Shop</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
            <li><img class="w-7 cursor-pointer" src="/svg/account.svg" alt="Account"></li>
        </ul>
    </nav>
</section>