<div class="py-4 pl-0 pr-0 md:pl-4 grid gap-2 grid-cols-1 min-[520px]:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <!-- <img class="object-cover" src="https://static.vecteezy.com/system/resources/previews/007/481/196/original/diagonal-lines-background-straight-stripes-texture-background-simple-seamless-pattern-line-pattern-geometric-background-vector.jpg" alt="sth"> -->
    <% if (locals.products != null) { %>
        <% products.forEach(product => { %>
            <%- include('_card', {product}) %>
        <% }); %>
    <% } %>
</div>