<div class="py-4 pl-0 pr-0 md:pl-4 grid-col-autofit-250 md:grid-col-autofit-300 gap-4">
    <!-- <img class="object-cover" src="https://static.vecteezy.com/system/resources/previews/007/481/196/original/diagonal-lines-background-straight-stripes-texture-background-simple-seamless-pattern-line-pattern-geometric-background-vector.jpg" alt="sth"> -->
    <% if (locals.products != null) { %>
        <% products.forEach(product => { %>
            <div class="p-2 shadow-xl">
                <h1 class=""><%- product.name %></h1>
                <p class="">$ <%- product.price %></p>
                <img src="<%= product.imageCoverData || "https://www.wowpatterns.com/assets/files/resource_images/diagonal-lines-vector-pattern.jpg" %>" alt="">
            </div>
        <% }); %>
    <% } %>
</div>