                    <!-- Top seller items section -->
<section class="flex flex-col justify-center p-2 m-2 rounded  mt-10">
                <!-- Div contains h1: Top seller items...  -->
    <div class="flex flex-row justify-center mt-2 mx-1 mb-5">
        <h1 class="font-sans font-bold sm:text-3xl lg:text-3xl md:text-3xl italic my-3">
            Top seller items of the month
        </h1>
    </div>
                <!-- Div contains h1: Top seller items...  -->
                    <!-- Div contains product cards -->
    <div class="flex flex-row justify-around flex-wrap min-w-[240px] [&>div]:w-[90%] sm:[&>div]:w-2/5  md:[&>div]:w-1/5">
        <% for (let i = 0; i < 3; i ++) { %>
            <%- include('_card.ejs') %>
        <% } %>
    </div>
                    <!-- Div contains product cards -->
</section>
                    <!-- Top seller items section -->